/* static/css/style.css */

body {
    font-family: Arial, sans-serif;
    background-image: url("Fake-News_1400x840-jpg.webp");
    background-size: cover; /* Adjusts image size to fit within background */
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    overflow: hidden;
    padding: 30px;
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
    resize: none;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 18px;
    border: none;
    background-color: #78338d;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #27644d;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}
